  <div id="inner-banner"  class="catalogue_parfum">
    <div class="container">
      <h1>Conditions Générales d’Utilisation</h1>
      <em>Découvrez les termes qui régissent notre l'utilisation de notre site web</em>
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">CGU</li>
      </ol>
    </div>
  </div>
  <!--MAIN START-->
  <div id="main">
    <section class="blog-section blog-detail">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-sm-8">
            <div class="post-box">
              <div class="frame"> <img src="/themes/custom/freelancemodule/images/blog/condition_generale_utilisation.png" alt="img"></div>			  
              <div class="post-text">
                <ul>
                  <li><a href="#">16 Mai 2018</a></li>
                </ul>
                <h3>Conditions Générales d’Utilisation</h3>
				<blockquote>
                  <h3><span><span><strong>Article 1&nbsp;: Objet</strong></span></span></h3>
                </blockquote>
				<p><span>Les présentes «&nbsp;conditions générales d’utilisation&nbsp;» ont pour objet l’encadrement juridique des modalités de mise à disposition des services du site <a href="http://www.parfumstreet.com/">www.parfumstreet.com</a> et leur utilisation par «&nbsp;l’Utilisateur&nbsp;».</span></p>

				<p><span>Les conditions générales d’utilisation doivent être respectées par tout Utilisateur souhaitant accéder au site. Elles constituent le contrat entre le site et l’Utilisateur. L’accès au site par l’Utilisateur signifie son acceptation des présentes conditions générales d’utilisation. En cas de non-acceptation des conditions générales d’utilisation stipulées dans le présent contrat, l’Utilisateur se doit de renoncer à l’accès des services proposés par le site. Monsieur Imed Barbouch, propriétaire du site www.parfumstreet.fr se réserve le droit de modifier unilatéralement et à tout moment le contenu des présentes conditions générales d’utilisation.</span></p>

				<p>&nbsp;</p>

				<blockquote>
                  <h3><span><strong>Article 2&nbsp;: Mentions légales</strong></span></h3>
                </blockquote>

				<p><span>Le site <a href="http://www.parfumstreet.com/">www.parfumstreet.com</a> est la propriété de Monsieur Imed Barbouch, auto-entrepreneur domicilié à 3 Allée Belle Croix 94200 Ivry-Sur-Seine.</span></p>

				<p><span>Coordonnées&nbsp;: contact@parfumstreet.fr</span></p>

				<p><span>Téléphone&nbsp;: 06 51 15 67 17</span></p>

				<p><span>Monsieur Imed Barbouch auto-entrepreneur et immatriculée au Registre du Commerce et des Sociétés de Créteil sous le numéro 538010356 R.C.S, TVA non applicable, article 293-B du CGI.</span></p>

				<p>&nbsp;</p>

				<p><span>L'hébergement de site est réalisé par :</span></p>

				<p><span>SAS OVH www.ovh.com</span></p>

				<p><span>2 rue Kellermann</span></p>

				<p><span>BP 80157</span></p>

				<p><span>59100 Roubaix</span></p>

				<p><span>Téléphone du lundi au vendredi&nbsp;: 8h-20h et samedi 9h-17h</span></p>

				<p><span>1007 (gratuit depuis un poste fixe, hors surcout éventuel selon opérateur depuis une ligne mobile)</span></p>

				<p><span>0033972101007 (prix d’un appel vers un poste fixe en France)</span></p>

				<p>&nbsp;</p>

				<blockquote>
                  <h3><span><strong>Article 3&nbsp;: Définitions</strong></span></h3>
                </blockquote>

				<p><span>La présente clause a pour objet de définir les différents termes essentiels du contrat&nbsp;:</span></p>

				<ul>
					<li>
					<p><span>Utilisateur&nbsp;: ce terme désigne toute personne qui utilise le site ou l’un des services proposés par le site.</span></p>
					</li>
					<li>
					<p><span>Contenu utilisateur&nbsp;: ce sont les données transmises par l’Utilisateur au sein du site</span></p>
					</li>
					<li>
					<p><span>Membre&nbsp;: l’Utilisateur devient membre lorsqu’il est identifié sur le site</span></p>
					</li>
					<li>
					<p><span>Identifiant et mot de passe&nbsp;: c’est l’ensemble des informations nécessaires à l’identification d’un Utilisateur sur le site. L’identifiant et le mot de passe permettent à l’Utilisateur d’accéder à des services réservés aux membres du site. Le mot de passe est confidentiel.</span></p>
					</li>
				</ul>

				<p>&nbsp;</p>

				<p>&nbsp;</p>

				<p>&nbsp;</p>

				<blockquote>
                  <h3><span><strong>Article 4&nbsp;: Accès aux services</strong></span></h3>
                </blockquote>

				<p><span>Le site permet à l’Utilisateur un accès gratuit aux différentes rubriques de ventes, articles d’informations, publication de commentaires. L’Utilisateur non membre n’a pas accès aux services réservés aux membres. Pour cela, il doit s’identifier à l’aide de son identifiant et de son mot de passe.</span></p>

				<p><span>Le site met en œuvre tous les moyens mis à sa disposition pour assurer un accès de qualité à ses services. L’obligation étant de moyens, le site ne s’engage pas à atteindre ce résultat.</span></p>

				<p><span>Tout événement dû à un cas de force majeure ayant pour conséquence un dysfonctionnement du réseau ou du serveur n’engage pas la responsabilité de Monsieur Imed Barbouch.</span></p>

				<p><span>L’accès aux services du site peut à tout moment faire l’objet d’une interruption, d’une suspension, d’une modification sans préavis pour une maintenance ou pour tout autre cas. L’Utilisateur s’oblige à ne réclamer aucune indemnisation suite à l’interruption, à la suspension ou à la modification du présent contrat.</span></p>

				<p><span>L’Utilisateur à la possibilité de contacter le site par messagerie électronique à l’adresse <a href="mailto:contact@parfumstreet.fr">contact@parfumstreet.fr</a></span></p>

				<p>&nbsp;</p>

				<blockquote>
                  <h3><span><strong>Article 5&nbsp;: Propriété intellectuelle</strong></span></h3>
                </blockquote>

				<p><span>En application du Code français de la Propriété Intellectuelle et, plus généralement, des traités et accords internationaux comportant des dispositions relatives à la protection des droits d’auteurs, vous vous interdirez de reproduite pour un usage autre que privé, mais aussi de vendre , distribuer, émettre, diffuser, adapter, modifier, publier, communiquer intégralement ou partiellement, sous quelque forme que se soit, les données, la présentation ou l’organisation du site sans l’autorisation écrite préalable de Monsieur Imed Barbouch.</span></p>

				<p><span>Le site et chacun des éléments, y compris mais sans limitation, les logos, icônes, infographies, photographies, qui le composent sont protégés par le Code de la propriété intellectuelle et le droit d’auteur.</span></p>

				<p><span>L’Utilisateur s’engage à une utilisation des contenus du site dans le cadre strictement privé. Une utilisation des contenus à des fins commerciales est strictement interdite.</span></p>

				<p><span>Tout contenu mis en ligne par l’Utilisateur est de sa seule responsabilité. L’Utilisateur s’engage à ne pas mettre en ligne de contenus pouvant porter atteinte aux intérêts de tierces personnes. Tout recours en justice engagé par un tiers lésé contre le site sera pris en charge par l’Utilisateur.</span></p>

				<p><span>Le contenu de l’Utilisateur peut être à tout moment et pour n’importe qu’elle raison supprimé ou modifié par le site. L’Utilisateur ne reçoit aucune justification et notification préalablement à la suppression ou à la modification du contenu Utilisateur.</span></p>

				<p>&nbsp;</p>

				<blockquote>
                  <h3><span><strong>Article 6&nbsp;: Législation Française relative au droit d’accès au fichier informatique</strong></span></h3>
                </blockquote>

				<p><span>Conformément à la loi française n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés (CNIL), tout Utilisateur ayant déposé sur ce site des informations directement ou indirectement nominatives, peut demander la communication des informations nominatives le concernant en s’adressant à Monsieur Imed Barbouch par courrriel à &nbsp; <a href="mailto:contact@parfumstreet.fr">contact@parfumstreet.fr</a> et les faire rectifier le cas échéant.</span></p>

				<p>&nbsp;</p>

				<blockquote>
                  <h3><span><strong>Article 7&nbsp;: Données personnelles </strong></span></h3>
                </blockquote>

				<p><span>Les informations demandées à l’inscription au site sont nécessaires et obligatoires pour la création du compte de l’Utilisateur. En particulier, l’adresse électronique pourra être utilisée par le site pour l’administration, la gestion et l’animation du service. Les éventuelles offres commerciales du site seront adressées au client par courriel si aucune opposition n’a été émise. Le client peut à tout moment s’opposer sans frais aux offres commerciales en se connectant sur son espace personnel ou par mail à <a href="mailto:contact@parfumstreet.fr">contact@parfumstreet.fr</a></span></p>

				<p><span>En vertu des articles 39 et 40 de la loi en date du 6 janvier 1978, l’Utilisateur dispose d’un droit d’accès, de rectification, de suppression et d’opposition de ses données personnelles. L’Utilisateur exerce ce droit par courriel à <a href="mailto:contact@parfumstreet.fr">contact@parfumstreet.fr</a></span></p>

				<blockquote>
                  <h3><span>Article 8&nbsp;: Responsabilité et force Majeure</span></h3>
                </blockquote>

				<p><span>Les sources des informations diffusées sur le site sont réputées fiables. Toutefois, le site se réserve la faculté d’une non-garantie de la fiabilité des sources. Les informations données sur le site le sont à titre purement informatif. Ainsi, l’Utilisateur assume seul l’entière responsabilité de l’utilisation des informations et contenus du présente site.</span></p>

				<p><span>L’Utilisateur s’assure de garder son mot de passe secret. Toute divulgation du mot de passe, quelle que soit sa forme, est interdite. L’Utilisateur assume les risques liés à l’utilisation de son identifiant et mot de passe. Le site décline toute responsabilité. Tout usage du service par l’Utilisateur ayant directement ou indirectement pour conséquence des dommages doit faire l’objet d’une indemnisation au profit du site.</span></p>

				<p><span>Une garantie optimale de la sécurité et de la confidentialité des données transmises n’est pas assurée par le site. Toutefois, le site s’engage à mettre en œuvre tous les moyens nécessaires afin de garantir au mieux la sécurité et la confidentialité des données.</span></p>

				<p><span>La responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d’un tiers.</span></p>

				<p>&nbsp;</p>

				<blockquote>
                  <h3><span><strong>Article 9&nbsp;: Liens hypertextes</strong></span></h3>
                </blockquote>

				<p><span>Des liens hypertextes sortants peuvent être présents sur le site, cependant les pages web où mènent ces liens n’engagent en rien la responsabilité de Monsieur Imed Barbouch qui n’a pas le contrôle de ces liens.</span></p>

				<p><span>L’Utilisateur s’interdit donc à engager la responsabilité du site concernant le contenu et les ressources relatives à ces liens hypertextes sortants.</span></p>

				<p>&nbsp;</p>

				<blockquote>
                  <h3><span><strong>Article 10&nbsp;: Evolution du contrat</strong></span></h3>
                </blockquote>

				<p><span>Le site se réserve à tout moment le droit de modifier les clauses stipulées dans le présent contrat.</span></p>

				<p>&nbsp;</p>

				<blockquote>
                  <h3><span><strong>Article 11&nbsp;: Durée</strong></span></h3>
                </blockquote>

				<p><span>La durée du présent contrat est indéterminée. Le contrat produit ses effets à l’égard de l’Utilisateur à compter de l’utilisation du service.</span></p>

				<p>&nbsp;</p>

				<blockquote>
                  <h3><span><strong>Article 12&nbsp;: Droit applicable et juridiction compétente</strong></span></h3>
                </blockquote>

				<p><span>La législation française s’applique au présent contrat. En cas d’absence de résolution amiable d’un lit.ige né entre les parties, seuls les tribunaux du ressort de la Cour d’Appel de Paris sont compétents.</span></p>

				<p>&nbsp;</p>

				<blockquote>
                  <h3><span><strong>Article 13&nbsp;: Publication par l’Utilisateur </strong></span></h3>
                </blockquote>

				<p><span>Le site peut permettre aux membres de publier des commentaires ou avis.</span></p>

				<p><span>Dans ses publications, le membre s’engage à respecter les règles de la Netiquette et les règles de droit en vigueur.</span></p>

				<p><span>Le site exerce une modération a postériori sur les publications et se réserve le droit de refuser leur mise en ligne, sans avoir à s’en justifier auprès du membre.</span></p>

				<p><span>Le Membre reste titulaire de l’intégralité de ses droits de propriété intellectuelle. Mais en publiant une publication sur le site, il cède le droit non exclusif et gratuit de représenter, reproduire, adapter, modifier, diffuser et distribuer sa publication, directement ou par un tiers autorisé, dans le monde entier, sur tout support (numérique ou physique), pour la durée de la propriété intellectuelle. Le Membre cède notamment le droit d’utiliser sa publication sur internet et sur les réseaux de téléphonie mobile.</span></p>

				<p><span>La société éditrice s’engage à faire figurer le nom du membre à proximité de chaque utilisation de sa publication.</span></p>

				

                <div class="share-post"> <strong class="title">Share Post</strong>
                  <ul>
                    <li class="social-color-1"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li class="social-color-2"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li class="social-color-3"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li class="social-color-4"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li class="social-color-5"><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
                <div class="comment-box">
                  <h2>Leave a Comment</h2>
                  <form action="#">
                    <div class="row">
                      <div class="col-md-4">
                        <input type="text" placeholder="Your Name" required>
                      </div>
                      <div class="col-md-4">
                        <input type="text" placeholder="Your Email" required>
                      </div>
                      <div class="col-md-4">
                        <input type="text" placeholder="Your Contact" required>
                      </div>
                      <div class="col-md-12">
                        <textarea required cols="11" rows="11" placeholder="Comments"></textarea>
                      </div>
                      <div class="col-md-12">
                        <button type="submit">Get Contact<i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4">
            <aside class="sidebar">
              <div class="sidebar-box">
                <h3>Search</h3>
                <div class="search-widget">
                  <form action="#">
                    <input type="text" placeholder="Enter Key words" required>
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                  </form>
                </div>
              </div>
              <div class="sidebar-box">
                <h3>Text Widget</h3>
                <div class="text-widget">
                  <p>Enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure.</p>
                </div>
              </div>
              <div class="sidebar-box">
                <h3>Recent Posts</h3>
                <div class="recent-post-widget">
                  <ul>
                    <li>
                      <div class="thumb"><img src="images/blog/recent-post-img-1.jpg" alt="img"></div>
                      <div class="text-col"> <span class="date">23 February, 2017</span> <a href="blog-detail.html">Perfume makes your 
                        memorable for forever.</a> </div>
                    </li>
                    <li>
                      <div class="thumb"><img src="images/blog/recent-post-img-2.jpg" alt="img"></div>
                      <div class="text-col"> <span class="date">17 February, 2017</span> <a href="blog-detail.html">Fusce mattis est  diam 
                        id tristique dui.</a> </div>
                    </li>
                    <li>
                      <div class="thumb"><img src="images/blog/recent-post-img-3.jpg" alt="img"></div>
                      <div class="text-col"> <span class="date">12 February, 2017</span> <a href="blog-detail.html">Perfume makes your 
                        memorable for forever.</a> </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="sidebar-box">
                <h3>Tags</h3>
                <div class="tags-widgets"> <a href="#">Parfum</a> <a href="#">Eau de Parfum </a> <a href="#">Eau de Toilette</a> <a href="#">Eau de Cologne</a> <a href="#">Eau Fraiche</a> <a href="#">Parfum Spray</a> <a href="#">Expression</a> <a href="#">Parfum</a> <a href="#">Eau de Parfu</a> <a href="#">Eau de Toilette</a> <a href="#">Parfum Spray</a> </div>
              </div>
              <div class="sidebar-box">
                <h3>Featured Products</h3>
                <div class="sidebar-product">
                  <div class="product-box">
                    <div class="owl-carousel" id="sidebar-product-post">
                      <div class="item">
                        <div class="outer">
                          <div class="product-frame"> <img src="images/sidepar-product-img-1.jpg" alt="img"> <a href="#" class="share"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                            <div class="caption">
                              <ul>
                                <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="text-box">
                          <h3><a href="product-detail.html">Hugo Boss</a></h3>
                          <strong class="price">$199.00 <span>-</span> $399.00</strong> </div>
                      </div>
                      <div class="item">
                        <div class="outer">
                          <div class="product-frame"> <img src="images/sidepar-product-img-1.jpg" alt="img"> <a href="#" class="share"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                            <div class="caption">
                              <ul>
                                <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="text-box">
                          <h3><a href="product-detail.html">Wedding Rings</a></h3>
                          <strong class="price">$299.00 <span>-</span> $499.00</strong> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!--MAIN END--> 