  <div id="inner-banner"  class="catalogue_parfum">
    <div class="container">
      <h1>Conditions Générales de Vente</h1>
      <em>Découvrez les termes qui régissent notre activité de vente</em>
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">cgv</li>
      </ol>
    </div>
  </div>
  <!--MAIN START-->
  <div id="main">
    <section class="blog-section blog-detail">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-sm-8">
            <div class="post-box">
              <div class="frame"> <img src="/themes/custom/freelancemodule/images/blog/blog-full-img-3.jpg" alt="img"></div>			  
              <div class="post-text">
                <ul>
                  <li><a href="#">16 Mai 2018</a></li>
                </ul>
                <h3>Conditions Générales de Vente</h3>
				<p><span><span>Les présentes conditions générales de vente sont conclues d’une part par Monsieur Imed Barbouch domicilié au 3 Allée Belle Croix, 94200 Ivry-Sur-Seine, auto-entrepreneur et immatriculée au Registre du Commerce et des Sociétés de Créteil sous le numéro 538010356 R.C.S, TVA non applicable, article 293-B du CGI, propriétaire du site www.parfumstreet.com et, d’autre part, par toute personne physique ou morale souhaitant procéder à un achat via le site internet <a href="http://www.parfumstreet.fr/">www.parfumstreet.fr</a> dénommée ci-après " l’acheteur ".</span></span></p>

				<p><span><span>Les présentes Conditions Générales de Vente ont pour objet, d’une part, d’informer tout éventuel acheteur sur les conditions et modalités dans lesquelles Monsieur Imed Barbouch procède à la vente et à la livraison des produits commandés et, d’autre part, de définir les droits et les obligations des parties dans le cadre de la vente de produits par Monsieur Imed Barbouch à l’acheteur .</span></span></p>

				<p>&nbsp;</p>

				<p>&nbsp;</p>

				<p><span><span>Les présentes conditions générales de vente s’appliquent à toute commande passée sur le site <a href="http://www.parfumstreet.fr/">http://www.parfumstreet.fr</a> </span></span></p>

				<p><span><span>Monsieur Imed Barbouch se réserve la possibilité de modifier à tout moment les présentes conditions générales de vente. Les nouvelles conditions générales de vente seront portées à la connaissance du client en ligne et seront applicables aux seules ventes réalisées postérieurement à la modification. Le fait de passer une commande sur le site <a href="http://www.parfumstreet.fr/">www.parfumstreet.fr</a> et de valider cette commande implique l’adhésion entière et sans réserve de l’acheteur à ces conditions générales de vente dont l’acheteur reconnaît avoir pris connaissance préalablement à sa commande.</span></span></p>

				<p><span><span>Avant toute transaction, l’acheteur déclare d’une part que l’achat de produits sur le site <a href="http://www.parfumstreet.fr/">www.parfumstreet.fr</a> est sans rapport direct avec son activité professionnelle et est limité à une utilisation strictement personnelle et d’autre part avoir la pleine capacité juridique, lui permettant de s’engager au titre des présentes conditions générales de ventes.</span></span></p>

				<p>&nbsp;</p>
				
                <blockquote>
                  <h3><span><span><strong>Article 1&nbsp;: Préambule et définitions</strong></span></span></h3>
                </blockquote>				

				<p><span><span>Les présentes conditions générales de vente détaillées ci-dessous (ci-après désignées «&nbsp;Conditions Générales&nbsp;») s’appliquent à toutes consultations et/ou commandes effectuées via le site <a href="http://www.parfumstreet.fr/">www.parfumstreet.fr</a></span></span></p>

				<p>&nbsp;</p>

                <blockquote>
					<h3><span><span><strong>Article 2. Mentions obligatoires</strong></span></span></h3>
                </blockquote>



				<p><span><span>Le site <a href="http://www.parfumstreet.fr/">www.parfumstreet.fr</a> est la propriété de Monsieur Imed Barbouch domicilié au 3 Allée Belle Croix, 94200 Ivry-Sur-Seine, auto-entrepreneur et immatriculée au Registre du Commerce et des Sociétés de Créteil sous le numéro 538010356 R.C.S, TVA non applicable, article 293-B du CGI</span></span></p>

				<p><span><span>Email&nbsp;: <a href="mailto:contact@parfumstreet.fr">contact@parfumstreet.fr</a></span></span></p>

				<p><span><span>Téléphone&nbsp;: 06 51 15 67 17.</span></span></p>

				<p>&nbsp;</p>

				<blockquote>
					<h3><span><span><span><span><strong>Article 3. Hébergement </strong></span></span></span></span></h3>
                </blockquote>

				<p><span><span><span><span>L'hébergement de site est réalisé par :</span></span></span></span></p>

				<p><span><span>SAS OVH www.ovh.com</span></span></p>

				<p><span><span>2 rue Kellermann</span></span></p>

				<p><span><span>BP 80157</span></span></p>

				<p><span><span>59100 Roubaix</span></span></p>

				<p><span><span>Téléphone du lundi au vendredi&nbsp;: 8h-20h et samedi 9h-17h</span></span></p>

				<p><span><span>1007 (gratuit depuis un poste fixe hors surcout éventuel selon opérateur depuis une ligne mobile)</span></span></p>

				<p><span><span>0033972101007 (prix d’un appel vers un poste fixe en France)</span></span></p>

				<p>&nbsp;</p>

				<blockquote>
					<h3><span><span><span><span><strong>Article 4. Produits </strong></span></span></span></span></h3>
                </blockquote>

				<p><span><span><span><span>Les produits proposés sont ceux qui figurent sur le site <a href="http://www.parfumstreet.fr/">www.parfumstreet.fr</a> de Monsieur Imed Barbouch, dans la limite des stocks disponibles. Monsieur Imed Barbouch se réserve le droit de modifier à tout moment l’assortiment de produits sur le site &nbsp;en fonction notamment des contraintes liées à ses fournisseurs, sans préjudice des commandes passées par l’acheteur.</span></span></span></span></p>

				<p>&nbsp;</p>

				<p>&nbsp;</p>

				<blockquote>
					<h3><span><span><span><span><strong>Article 5. Authenticité/qualité des produits</strong></span></span></span></span></h3>
                </blockquote>

				<p><span><span>Monsieur Imed Barbouch<strong> </strong>ne vend que des produits 100&nbsp;% authentiques. Nous ne vendons pas de copies ou de contrefaçons.</span></span></p>

				<p><span><span>Tous les produits sont certifiés authentiques et proviennent de l’union européenne. Monsieur Imed Barbouch s’efforce de présenter toutes caractéristiques essentielles des produits mis en ligne, grâce notamment aux descriptifs techniques des partenaires et fournisseurs et de photographies et/ou vidéos des produits et ce, dans la limite de la technique et dans le respect des meilleurs standards du marché.</span></span></p>

				<p><span><span>Les photographies sont les plus fidèles possibles mais n’engagent en rien le Vendeur. Les images sont fournies à titre illustratif uniquement et peuvent différer du produit réel reçu. Les couleurs de certains articles peuvent varier en raison des différences au niveau du réglage des écrans. Il est de pratique courante pour les fabricants de changer les flacons ou les contenants de leurs parfums.</span></span></p>

				<p>&nbsp;</p>

				<p>&nbsp;</p>

				<blockquote>
					<h3><span><span><strong>Article 6. Disponibilité des produits</strong></span></span></h3>
                </blockquote>

				<p><span><span>Des indications sur la disponibilité des produits sont fournies à l’acheteur au moment de la passation de sa Commande. Ces informations provenant directement des fournisseurs, des erreurs ou modifications peuvent exceptionnellement exister.<br />
				Des aléas dans la gestion de nos fournisseurs peuvent nous amener exceptionnellement à être en rupture de stock soit momentanée, soit définitivement (produits supprimés ou retirés du marché). En cas d'indisponibilité totale ou partielle de produit(s) après passation de la commande, l’acheteur en sera informé au plus tôt. Il sera alors proposé à l’acheteur, soit de modifier sa commande soit de l’annuler. L’acheteur prend acte et accepte que Monsieur Imed Barbouch honorera sa dans la limite des stocks disponibles et de ceux de ses partenaires et fournisseurs. En cas d’indisponibilité d’un produit après confirmation de la commande, Monsieur Imed Barbouch informera le client par e-mail ou par téléphone de la livraison partielle de sa commande ou de l’annulation de celle-ci. Le cas échéant Monsieur Imed Barbouch proposera au client, le remboursement des sommes effectivement débitées par virement.</span></span></p>

				<p><span><span>En cas d’annulation totale de la Commande, Monsieur Imed Barbouch prendra contact avec l’acheteur pour l’informer de l’annulation de sa Commande et l’acheteur sera remboursé du prix des produits commandés non disponibles dans les plus brefs délais et, au plus tard, dans les 30 jours du paiement des sommes qu’il a versé.</span></span></p>

				<p><span><span>En cas d’annulation partielle de la commande :<br />
				- La Commande de l’acheteur sera validée et son compte bancaire sera débité de l’intégralité de la Commande,<br />
				- L’acheteur sera livré des produits disponibles et L’acheteur sera remboursé du prix du produit commandé non disponible dans les plus brefs délais et, au plus tard, dans les 30 jours du paiement des sommes qu’il a versé.</span></span></p>

				<p>&nbsp;</p>

				<blockquote>
					<h3><span><span><span><span><strong>Article 7. Prix</strong></span></span></span></span></h3>
                </blockquote>

				<p><span><span><span><span>Les prix de vente des produits en ligne sur le site sont des prix exprimés en Euros (€) Hors Taxe «&nbsp;TVA non applicable, Art. 293B du CGI&nbsp;». </span></span></span></span></p>

				<p><span><span><span><span>Monsieur Imed Barbouch se réserve le droit de modifier ses prix à tout moment, étant toutefois entendu que le prix figurant au catalogue le jour de la commande sera le seul applicable à l’acheteur. Les prix indiqués ne comprennent pas les frais de livraison, Les frais de livraison seront facturés à l’acheteur d’un montant de 5 euros pour la France métropolitaine. Les frais de livraison sont précisés dans le panier et confirmés lors de la validation de la commande&nbsp;; ils sont facturés à la fin de la commande et viennent s’ajouter aux prix des produits commandées.</span></span></span></span></p>

				<p><span><span><span><span>Les frais de livraison peuvent être modifies à tout moment par Monsieur Imed Barbouch étant toutefois entendu que le montant des frais de livraison le jour de la commande sera le seul applicable à l’acheteur. </span></span></span></span></p>

				<p>&nbsp;</p>

				<blockquote>
					<h3><span><span><span><span><strong>Article 8. Commande et modalités de paiement </strong></span></span></span></span></h3>
                </blockquote>

				<p><span><span><span><span>Avant toute commande, l’acheteur doit créer un compte sur le site <a href="http://www.parfumstreet.fr/">www.parfumstreet.fr</a>. La rubrique de création de compte est accessible directement depuis la barre de menu. A chaque visite, l’acheteur, s’il souhaite commander ou consulter son compte (état des commandes, profil…), devra s’identifier à l’aide de ces informations. </span></span></span></span></p>

				<p><span><span><span><span>Pour passer sa commande, le client dispose du moyen suivant&nbsp;: par internet sur le site <a href="http://www.parfumstreet.fr/">www.parfumstreet.fr</a>. Les données communiquées par le client et enregistrées par Monsieur Imed Barbouch lors de l’inscription et de la commande constituent la preuve des transactions entre Monsieur Imed Barbouch et le client. Après validation de la commande par le client, Monsieur Imed Barbouch lui adressera un mail de confirmation pour lui notifier que la commande a bien été enregistrée. Il est précisé que Monsieur Imed Barbouch se réserve le droit de refuser, d’exécuter une livraison ou d’honorer une commande dans les cas où le client n’aurait pas réglé totalement ou en partie une précédente commande, dans les cas où un litige de paiement subsisterait ou aussi dans le cas ou le produit n’est plus disponible chez nos fournisseurs.</span></span></span></span></p>

				<p><span><span><span><span>Le client à la possibilité de régler ses produits par paiement sécurisé par carte bancaire ou via le système Paypal, ainsi nous acceptons la majorité des cartes bancaires. Le système de paiement sera assuré par nos partenaires Paypal et Stripe qui assurent l’intégralité de la sécurité des paiements. Paypal et Stripe sont deux leaders internationaux dans le paiement en ligne.</span></span></span></span></p>

				<p><span><span><span><span><strong>Paiement sécurisé par Paypal ou carte bancaire:</strong> l’acheteur sélectionne les produits qu’il souhaite commander dans le « panier », modifie si besoin (quantités, références…), vérifie l’adresse de livraison ou en renseigne une nouvelle. Puis, les frais de port sont ajoutés et soumis à l’acheteur. Ensuite, l’acheteur choisit le mode de paiement de son choix. L’étape suivante lui propose de vérifier l’ensemble des informations, prendre connaissance et accepter les présentes conditions générales de vente en cochant la case correspondante. Enfin, l’acheteur est redirigé sur l’interface sécurisée PAYPAL ou STRIPE afin de renseigner en toute sécurité ses références de compte Paypal ou de carte bleue personnelle. Si le paiement est accepté, la commande est enregistrée et le contrat définitivement formé. Le paiement par compte Paypal ou par carte bancaire est irrévocable. En cas d’utilisation frauduleuse d’une carte bancaire, la responsabilité du titulaire n’est pas engagée si le paiement contesté a été prouvé effectué frauduleusement, à distance, sans utilisation physique de sa carte. Pour obtenir le remboursement du débit frauduleux et des éventuels frais bancaires que l’opération a pu engendrer, le porteur de la carte doit contester, par écrit, le prélèvement auprès de sa banque, dans les 70 jours suivant l’opération, voire 120 jours si le contrat le liant à celle-ci le prévoit. Les montants prélevés sont remboursés par la banque dans un délai maximum d’un mois après réception de la contestation écrite formée par le porteur. Aucun frais de restitution des sommes ne pourra être mis à la charge du titulaire.</span></span></span></span></p>

				<p><span><span><span><span>La confirmation d’une commande entraîne acceptation des présentes conditions de vente, la reconnaissance d’en avoir parfaite connaissance et la renonciation à se prévaloir de ses propres conditions d’achat. L’ensemble des données fournies et la confirmation enregistrée vaudront preuve de la transaction. Si l’acheteur possède une adresse électronique et s’il l’a renseignée sur son bon de commande, Monsieur Imed Barbouch lui communiquera par courrier électronique la confirmation de l’enregistrement de sa commande.</span></span></span></span></p>

				<p><span><span><span><span>Si l’acheteur souhaite contacter Monsieur Imed Barbouch, il peut le faire soit par courrier à l’adresse suivante 3 Allée Belle Croix 94200 Ivry-Sur-Seine ; soit par courriel à l’adresse suivante : contact@parfumstreet.fr, soit par téléphone au 06 51 15 67 17.</span></span></span></span></p>

				<blockquote>
					<h3><span><span><span><span><strong>Article 9. Livraison </strong></span></span></span></span></h3>
                </blockquote>

				<p><span><span><span><span>Les délais de livraison standard des Commandes à destination de la France métropolitaine sont de 5 jours ouvrables dès la validation de la commande sauf force majeur&nbsp;; le client est tenu de vérifier l’exhaustivité, la véracité des renseignements qu’il fournit à Monsieur Imed Barbouch lors de la commande et notamment l’adresse de livraison. Monsieur Imed Barbouch ne peut être tenu responsable d’éventuelles erreurs de saisie qui pourraient provoquer des erreurs de livraison. Sont considérés comme cas fortuit ou force majeure exonératoires de responsabilité tous faits ou circonstances irrésistibles, imprévisibles et indépendants de la volonté des parties notamment en cas de grève totale ou partielle de transporteurs, et de catastrophes naturelles telles que les inondations ou incendies. En cas de dépassement de la date de livraison du bien excédant 7 jours ouvrés, en l’absence de force majeure, conformément aux articles L114-1 et L121-20-3 du Code de la consommation, le client à la possibilité de dénoncer le contrat par lettre recommandée avec accusé de réception.</span></span></span></span></p>

				<p><span><span><span><span>La livraison est assurée par le transporteur GLS et les frais de livraison sont fixés à 5 euros pour la France métropolitaine et elle sera gratuite à partir de 80 euros d’achat.</span></span></span></span></p>

				<p><span><span><span><span>En cas de dommage pendant le transport, toute protestation doit être effectuée auprès du transporteur dans un délai de trois jours à compter de la livraison.</span></span></span></span></p>

				<p>&nbsp;</p>

				<blockquote>
					<h3><span><span><span><span><strong>Article 10. Réception </strong></span></span></span></span></h3>
                </blockquote>

				<p><span><span><span><span>Il appartient au Client lors de la réception du Produit, de vérifier sans délai la conformité et l'intégrité des produits expédiés. De manière générale, les réserves ou constatations portées sur le bon de livraison doivent être complètes et précises. Elles doivent notamment définir le dommage précisément, en faisant figurer le numéro de commande.</span></span></span></span></p>

				<p>&nbsp;</p>

				<blockquote>
					<h3><span><span><span><span><strong>Article 11. Rétractation </strong></span></span></span></span></h3>
                </blockquote>

				<p><span><span><span><span>En vertu de l’article L121-20 du Code de la consommation, l’acheteur dispose d'un délai de quatorze jours ouvrables à compter de la réception de sa commande pour exercer son droit de rétractation et ainsi faire retour du produit au vendeur pour échange ou remboursement sans pénalité, à l’exception des frais de retour.</span></span></span></span></p>

				<p>&nbsp;</p>

				<blockquote>
					<h3><span><span><span><span><strong>Article 12. Retour du produit</strong></span></span></span></span></h3>
                </blockquote>

				<p><span><span><span><span>La procédure de retour devra être respectée par l’acheteur.</span></span></span></span></p>

				<p><span><span><span><span>Aucun retour ne sera accepté si la procédure de notification de retour à Monsieur Imed Barbouch n’a pas été respectée. Seuls seront acceptés les produits à l’état neuf, sous blister dans leur emballage d’origine. Tout produit qui aura été abimé par le client, ou dont l’emballage d’origine aura été ouvert, ne sera pas remboursé. </span></span></span></span></p>

				<p><span><span><span><span>Les produits doivent être impérativement retournés complets en parfait état et dans leur emballage d'origine placé dans un carton vierge en prenant soin de ne placer aucune écriture, ni scotch sur les emballages originaux, accompagnés de la facture à l’adresse suivante&nbsp;: Monsieur Imed Barbouch, 3 allée belle croix, 94200 Ivry Sur Seine.</span></span></span></span></p>

				<p><span><span><span><span>L’acheteur devra signaler vices et défauts à Monsieur Imed Barbouch dès la réception, par l’envoi de photographies. La responsabilité de Monsieur Imed Barbouch est limité aux prix des produits défectueux ou non conformes, et de façon générale, quelle que soit la cause ou la forme de l’action concernée&nbsp;; Monsieur Imed Barbouch ne pourra être tenu à l’indemnisation de dommages indirects ou tout autre préjudice financier subi par le client ou un tiers.</span></span></span></span></p>

				<p><span><span><span><span>Les délais de rétraction mentionnés ci-dessus courent à compter du jour de la réception de la commande. Ce droit légal de rétractation s’exerce sans pénalité, à l’exception des frais de port.</span></span></span></span></p>

				<p><span><span><span><span>La garantie légale (Article 1641 du code civil) ne s’applique pas à la réparation de dommages résultant d’une cause extérieure au produit ou du fait du client.</span></span></span></span></p>

				<p><span><span><span><span>En cas de remboursement, le client est remboursé par virement bancaire. Les modalités de remboursement sont à la discrétion de Monsieur Imed Barbouch.</span></span></span></span></p>

				<p><span><span><span><span>Conformément à l’article L.121-21-8 du code de la consommation français, le droit de rétraction ne peut être exercé pour les commandes portant sur les produits qui ont été descellés après la livraison et qui ne peuvent être renvoyés pour des raisons d’hygiène ou de protection de la santé. Les retours restent à la charge de l’acheteur.</span></span></span></span></p>

				<p><span><span><span><span>En cas de réclamation concernant d’éventuels défauts ou de marque de détérioration des produits (avarie, produit manquant par rapport au bon de livraison, colis endommagé, produits cassés, etc…), l’acheteur devra acter ses observations sur le bon de livraison et les confirmer le jour de la réception par mail et photos à <a href="mailto:contact@parfumstreet.fr">contact@parfumstreet.fr</a></span></span></span></span></p>

				<p><span><span><span><span>Hormis les cas de vices cachés, aucune réclamation ni réserve ne sera admise, après réception des produits par l’acheteur, si celui-ci n’a pas respecté la procédure détaillée ci-dessus.</span></span></span></span></p>

				<blockquote>
					<h3><span><span><span><span><strong>Article 13. Conditions et délais de remboursement </strong></span></span></span></span></h3>
                </blockquote>

				<ul>
					<li>
					<p><span><span><span><span>Dans le cas d’un remboursement pour vice-caché, le montant est intégralement remboursé.</span></span></span></span></p>
					</li>
					<li>
					<p><span><span><span><span>Dans le cas d’une rétractation, le montant remboursé est le montant du/des produit(s) concerné(s), hors frais de port initiaux.</span></span></span></span></p>
					</li>
				</ul>

				<p><span><span><span><span>Dans tous les cas, le remboursement s’effectue par virement bancaire dans les plus brefs délais et au plus tard dans les 30 jours à compter de la notification à <a href="mailto:contact@parfumstreet.fr">contact@parfumstreet.fr</a></span></span></span></span></p>

				<blockquote>
					<h3><span><span><span><span><strong>Article 14. Responsabilité </strong></span></span></span></span></h3>
                </blockquote>

				<p><span><span><span><span>Monsieur Imed Barbouch dans le processus de vente à distance, n’est tenue que par une obligation de moyens. Sa responsabilité ne pourra être engagée pour un dommage résultant de l’utilisation du réseau Internet tel que perte de données, intrusion, virus, rupture du service, ou autres problèmes involontaires. Les photographies, les illustrations et les images du site n’ont aucune valeur contractuelle. Elles ne sauraient donc engager la responsabilité de Monsieur Imed Barbouch.</span></span></span></span></p>

				<p>&nbsp;</p>

				<blockquote>
					<h3><span><span><span><span><strong>Article 15. Lois informatiques et libertés</strong></span></span></span></span></h3>
                </blockquote>

				<p><span><span><span><span>Conformément à la loi française «&nbsp;informatique et libertés&nbsp;» n°78-17 du 6 janvier 1978, l’acheteur possède un droit d’accès et de rectification aux données le concernant et peut exercer ce droit en envoyant un mail à l’adresse suivante&nbsp;: <a href="mailto:contact@parfumstreet.fr">contact@parfumstreet.fr</a></span></span></span></span></p>

				<p><span><span><span><span>En fonction de la sélection du client lors de la création ou de la modification de son compte, il est susceptible de recevoir des offres de Monsieur Imed Barbouch. S’il ne le souhaite plus, il peut, à tout moment, en faire la demande à Monsieur Imed Barbouch en envoyant un mail à l’adresse suivante&nbsp;: <a href="mailto:contact@parfumstreet.fr">contact@parfumstreet.fr</a></span></span></span></span></p>

				<p><span><span><span><span>Monsieur Imed Barbouch informe l’acheteur que ce traitement automatisé d’informations, notamment la gestion des adresses courriels des utilisateurs, à fait l’objet d’une déclaration à la CNIL (déclaration numéro 2160015)</span></span></span></span></p>

				<blockquote>
					<h3><span><span><span><span><strong>Article 16. Propriété intellectuelle </strong></span></span></span></span></h3>
                </blockquote>

				<p><span><span><span><span>Tous les éléments du site www.parfumstreet.fr sont et restent la propriété intellectuelle et exclusive de Monsieur Imed Barbouch. Personne n’est autorisé à reproduire, exploiter, ou utiliser à quelque titre que ce soit, même partiellement, des éléments du site qu’ils soient sous forme de photo, logo, visuel ou texte.</span></span></span></span></p>

				<p>&nbsp;</p>

				<blockquote>
					<h3><span><span><span><span><strong>Article 17. Contact</strong></span></span></span></span></h3>
                </blockquote>

				<p><span><span><span><span>Monsieur Imed Barbouch</span></span></span></span></p>

				<p><span><span><span><span>Adresse&nbsp;: 3 Allée Belle Croix 94200 Ivry-Sur-Seine</span></span></span></span></p>

				<p><span><span><span><span>Téléphone&nbsp;: 06 51 15 67 17.</span></span></span></span></p>

				<p><span><span><span><span>Email&nbsp;: <a href="mailto:contact@parfumstreet.fr">contact@parfumstreet.fr</a></span></span></span></span></p>

				<p>&nbsp;</p>

				<blockquote>
					<h3><span><span><span><span><strong>Article 18. Règlement des litiges </strong></span></span></span></span></h3>
                </blockquote>

				<p><span><span><span><span>Les présentes conditions de vente à distance sont soumises à la loi française. Pour tous litiges ou contentieux, le droit applicable est le droit français. Version du 9 mai 2018</span></span></span></span></p>

				<p>&nbsp;</p>
                <div class="share-post"> <strong class="title">Share Post</strong>
                  <ul>
                    <li class="social-color-1"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li class="social-color-2"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li class="social-color-3"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li class="social-color-4"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li class="social-color-5"><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
                <div class="comment-box">
                  <h2>Leave a Comment</h2>
                  <form action="#">
                    <div class="row">
                      <div class="col-md-4">
                        <input type="text" placeholder="Your Name" required>
                      </div>
                      <div class="col-md-4">
                        <input type="text" placeholder="Your Email" required>
                      </div>
                      <div class="col-md-4">
                        <input type="text" placeholder="Your Contact" required>
                      </div>
                      <div class="col-md-12">
                        <textarea required cols="11" rows="11" placeholder="Comments"></textarea>
                      </div>
                      <div class="col-md-12">
                        <button type="submit">Get Contact<i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4">
            <aside class="sidebar">
              <div class="sidebar-box">
                <h3>Search</h3>
                <div class="search-widget">
                  <form action="#">
                    <input type="text" placeholder="Enter Key words" required>
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                  </form>
                </div>
              </div>
              <div class="sidebar-box">
                <h3>Text Widget</h3>
                <div class="text-widget">
                  <p>Enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure.</p>
                </div>
              </div>
              <div class="sidebar-box">
                <h3>Recent Posts</h3>
                <div class="recent-post-widget">
                  <ul>
                    <li>
                      <div class="thumb"><img src="images/blog/recent-post-img-1.jpg" alt="img"></div>
                      <div class="text-col"> <span class="date">23 February, 2017</span> <a href="blog-detail.html">Perfume makes your 
                        memorable for forever.</a> </div>
                    </li>
                    <li>
                      <div class="thumb"><img src="images/blog/recent-post-img-2.jpg" alt="img"></div>
                      <div class="text-col"> <span class="date">17 February, 2017</span> <a href="blog-detail.html">Fusce mattis est  diam 
                        id tristique dui.</a> </div>
                    </li>
                    <li>
                      <div class="thumb"><img src="images/blog/recent-post-img-3.jpg" alt="img"></div>
                      <div class="text-col"> <span class="date">12 February, 2017</span> <a href="blog-detail.html">Perfume makes your 
                        memorable for forever.</a> </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="sidebar-box">
                <h3>Tags</h3>
                <div class="tags-widgets"> <a href="#">Parfum</a> <a href="#">Eau de Parfum </a> <a href="#">Eau de Toilette</a> <a href="#">Eau de Cologne</a> <a href="#">Eau Fraiche</a> <a href="#">Parfum Spray</a> <a href="#">Expression</a> <a href="#">Parfum</a> <a href="#">Eau de Parfu</a> <a href="#">Eau de Toilette</a> <a href="#">Parfum Spray</a> </div>
              </div>
              <div class="sidebar-box">
                <h3>Featured Products</h3>
                <div class="sidebar-product">
                  <div class="product-box">
                    <div class="owl-carousel" id="sidebar-product-post">
                      <div class="item">
                        <div class="outer">
                          <div class="product-frame"> <img src="images/sidepar-product-img-1.jpg" alt="img"> <a href="#" class="share"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                            <div class="caption">
                              <ul>
                                <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="text-box">
                          <h3><a href="product-detail.html">Hugo Boss</a></h3>
                          <strong class="price">$199.00 <span>-</span> $399.00</strong> </div>
                      </div>
                      <div class="item">
                        <div class="outer">
                          <div class="product-frame"> <img src="images/sidepar-product-img-1.jpg" alt="img"> <a href="#" class="share"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                            <div class="caption">
                              <ul>
                                <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="text-box">
                          <h3><a href="product-detail.html">Wedding Rings</a></h3>
                          <strong class="price">$299.00 <span>-</span> $499.00</strong> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!--MAIN END--> 