<header id="header">
	{{ page.header }}
</header>
<div id="inner-banner">
	<div class="container">
	  <h1>Bleu De Chanel</h1>
	  <em>We are Parfuma Perfume Store where you can explore all kinds of Perfume</em>
	  <ol class="breadcrumb">
	    <li><a href="#">Home</a></li>
	    <li><a href="#">Shop</a></li>
	    <li class="active">Product  Details</li>
	  </ol>
	</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-sm-12 col-lg-2 col-lg-push-10">
		<section id="sidebar">
			{{ page.rightsidebar }}
		</section>
    </div>   
    <div class="col-md-2 col-lg-2 col-lg-pull-2 col-sm-12">
		<section id="sidebar">
			{{ page.sidebar }}
		</section>
    </div>
    <div class="col-md-10 col-lg-8 col-sm-12 col-lg-pull-2">
		<section id="main">
			 <div class="product-catalog row">
				{{ page.content }}
			</div>
		</section>
    </div>
  </div>
</div>




