  <footer id="footer">
    <section class="footer-section-1">
      <div class="container">
        <div class="inner-col"> <strong class="footer-logo"><a href="#"><img src="{{variables.images_path}}footer-logo.png" alt="img"></a></strong> <em>ParfumStreet est un site de vente en ligne qui exerce en France sous le Code Siren 538010356 R.C.S. Créteil.</em> </div>
      </div>
    </section>
    <section class="footer-section-2">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="footer-box">
              <h3>Perfumes Categories</h3>
              <div class="categories-col">
                <ul class="width-1">
                  <li><a href="#">Parfum</a></li>
                  <li><a href="#">Eau de Parfum</a></li>
                  <li><a href="#">Eau de Toilette</a></li>
                  <li><a href="#">Eau de Cologne</a></li>
                  <li><a href="#">Eau Fraiche</a></li>
                  <li><a href="#">Parfum Spray</a></li>
                </ul>
                <ul>
                  <li><a href="#">Parfum</a></li>
                  <li><a href="#">Eau de Parfum</a></li>
                  <li><a href="#">Eau de Toilette</a></li>
                  <li><a href="#">Eau de Cologne</a></li>
                  <li><a href="#">Eau Fraiche</a></li>
                  <li><a href="#">Parfum Spray</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="footer-box">
              <h3>Recent Posts</h3>
              <div class="recent-col">
                <ul>
                  <li>
                    <div class="thumb"><img src="{{variables.images_path}}recent-img-1.jpg" alt="img"></div>
                    <div class="text-col"> <span class="date">23 February, 2017</span> <a href="blog-detail.html">Our Perfume makes your occasions
                      memorable for forever.</a> </div>
                  </li>
                  <li>
                    <div class="thumb"><img src="{{variables.images_path}}recent-img-2.jpg" alt="img"></div>
                    <div class="text-col"> <span class="date">17 February, 2017</span> <a href="blog-detail.html">Fusce mattis est non diam vestibulum
                      id tristique dui.</a> </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="footer-box">
              <h3>Store Timings for Visit</h3>
              <div class="timing-col">
                <ul>
                  <li>Monday<span>09:00 am - 05:00 pm</span></li>
                  <li>Tuesday<span>09:00 am - 05:00 pm</span></li>
                  <li>Wednesday<span>09:00 am - 05:00 pm</span></li>
                  <li>Thursday<span>09:00 am - 05:00 pm</span></li>
                  <li>Friday<span>09:00 am - 05:00 pm</span></li>
                  <li>Saturday<span>09:00 am - 02:00 pm</span></li>
                  <li>Sunday<span>We’re Close</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="footer-section-3">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="footer-social">
              <ul>
                <li class="social-color-1"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>Follow</a></li>
                <li class="social-color-2"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>Like</a></li>
                <li class="social-color-3"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i>Connect</a></li>
                <li class="social-color-4"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>Follow</a></li>
                <li class="social-color-5"><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i>Watch</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6"><strong class="copyright"><span>Parfuma Perfume Store</span> &copy; 2017, All Rights Reserved, Developed By: <a href="http://freelancemodule.com/" target="_blank">Freelancemodule</a></strong></div>
        </div>
      </div>
    </section>
  </footer>