<section class="header-top-row">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="left-box">
            <ul>
              <li> <img src="{{variables.images_path}}France_20_20.png" alt="img">Frais de port de €5 sur toute la France Métropolitaine.</li>
			  <li> <img src="{{variables.images_path}}stouche_20_20.png" alt="img"><b>GRATUITÉ des frais de port à partir de €80 d'achat!</b></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="right-box">
            <ul>
              <li> <a class="header_link" href="cgv"><img src="{{variables.images_path}}hand_shake_white_40_20.png" alt="img"> Conditions Générales de Vente</a>.</li>
              <li><div class="closebtn">&times;</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</section>
